@{
    ViewBag.Title = "Home Page";
}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */


</style>
<link href="~/Content/miCss.css" rel="stylesheet" />

<div class="content-all">
    <header></header>
    <input type="checkbox" id="check">
    <label for="check" class="icon-menu">Menu</label>
    <nav class="menu">
        <ul>
            <li>Generar Datos</li>
            <li>Resultados Historicos</li>
            <li>Mapa de riesgo</li>
            <li>Prevencion</li>
            <li>Noticias</li>
        </ul>
    </nav>
</div>
<div id="map" class="col-lg-4"></div>




<script src="~/Scripts/mapa.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9tDF1pktvXYn9MNiuYH_Cjm4lzZorK3c&callback=initMap"
        async defer></script>

